{
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "lcov",
    "html",
    "text",
    "text-summary"
  ],
  "check-coverage": true,
  "lines": 5,
  "functions": 5,
  "branches": 5,
  "statements": 5,
  "watermarks": {
    "lines": [70, 85],
    "functions": [80, 95],
    "branches": [60, 80],
    "statements": [60, 75]
  },
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "**/*.test.*",
    "**/*.d.ts",
    "coverage/**",
    "lib/**",
    "**/_fixtures/**"
  ],
  "extension": [
    ".ts"
  ],
  "cache": true,
  "all": true
}